.about-us-section {
    
    margin: 0 calc(-1 * (100vw - 1350px) / 2);
    /* margin: auto; */
    margin-top: 120px;
    padding: 100px 280px;

    display: flex;
    gap: 80px;

    background-color: white;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(139, 90, 70, 0.15);
}

.section-title.about-us {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}

.about-us-image {
    height: 480px;
    width: 350px;
    border-radius: 18px;
}

.about-us-desc {
    font-family: var(--secondary-font);
    font-size: 16px;
    line-height: 1.6;
    color: #5A544E;
}

.about-us-stats {
    margin-top: 36px;
    display: flex;
    gap: 60px;
}

.projects-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-number {
    font-family: var(--secondary-font);
    font-size: 36px;
    opacity: 0.1;
    color: var(--secondary-color);
}

.stat-label {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 400;
    color: #7b634d;
}




@media(max-width:1200px) {
    .about-us-section {
        margin: auto;
        margin-top: 80px;
        flex-direction: column;
        padding: 50px 20px;
        gap: 10px;
    }

    .about-us-image {
        height: 320px;
        width: auto;
        border-radius: 18px;
    }

    .section-title.about-us {
        text-align: center;
    }

    .about-us-desc {
        font-family: var(--secondary-font);
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
        color: #6b5449;
    }

    .about-us-stats {
        justify-content: center;
        gap: 40px;
    }
}