.hero-section {
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero-image {
    z-index: 0;
    height: 100%;
    width: inherit;
    object-fit: cover;
    position: fixed;
    animation: slowZoom 20s ease-in-out infinite;
}

.hero-img-cover {
    
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: rgba(90, 72, 46, 0.7);
    background: linear-gradient(
    to bottom,
    rgba(38, 34, 28, 0.75),
    rgba(38, 34, 28, 0.65),
    rgba(38, 34, 28, 0.75)
  );
}

.hero-content {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.hero-section-title {
    /* font-family: 'Poppins', serif; */
    font-family: 'Allura', serif;
    font-size: 150px;
    font-weight: 400;
    text-shadow: 0 4px 12px rgba(0,0,0,0.15);
    max-width: 1000px;
    color: white;
    text-align: center;
    line-height: 110px;
    margin-bottom: 40px;
}

.hero-section-subtitle {
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #ffffff;
    text-align: center;
}

.hero-section-btns {
    display: flex;
    gap: 30px;
}

.view-our-work-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background-color: #C3A46B;
    color: #4b423b;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}
.view-our-work-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.our-services-btn {
    background-color: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 12px 32px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}
.our-services-btn:hover {
    background-color: white;
    color: var(--secondary-color);
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}






@media(max-width:768px) {
    .hero-section-title {
        font-size: 60px;
        line-height: 50px;
        margin-bottom: 30px;
        font-weight: 400;
        font-family: 'Allura', serif;
    }

    .hero-section-subtitle {
        font-size: 14px;
        font-family: 'Poppins', serif;
        color: white;
        font-weight: 200;
    }

    .hero-section-btns {
        flex-direction: column;
        gap: 20px;
    }
}


@keyframes slowZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}