.navbar-section {
    z-index: 1000;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 70px;
    padding: 0px 10vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    border-bottom: 1px solid #5a3a2e27;
    box-sizing: border-box;
}

.nav-items-left {
    display: flex;
    align-items: center;
    position: relative;
    gap: 1rem;
    text-decoration: none;
}

.navbar-logo {
    height: 50px;
    object-fit: contain;
}

.company-name {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Playfair Script', serif;
    color: var(--secondary-color);
}

.nav-items-right {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 0.25s ease-in-out;
}

.nav-link-items {
    height: 100%;
    padding: 0 12px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 16px;
    border: 0 1px solid black;
    transition: all 0.08s linear;
}

.nav-link-items:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.hamburger-btn {
    display: none;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 30px;
    right: 20px;
    z-index: 2000;
    font-size: 26px;
    background: var(--secondary-color);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 100px;
    cursor: pointer;
}


@media(max-width:1080px) {
    .navbar-section {
        padding: 0px 20px;
    }

    .hamburger-btn {
        z-index: 999;
        display: block;
    }
    
    .nav-items-right {
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        padding: 50px 20px;
        background-color: white;
        flex-direction: column;
        transform: translateX(-101%);
    }
    
    .nav-link-items {
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 15px 0;
    }
    .open {
        transform: translateX(0%);
    }
}