.testimonials-section {
    margin-top: 120px;
    padding-bottom: 150px;
}

.testimonial-wrapper {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(139, 90, 70, 0.15)
}

/* NEW */
.testimonial-slider {
    overflow: hidden;
    width: 70%;
    /* max-width: 900px; */
}

.testimonial-track {
    width: 100%;
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.testimonial-card {
    min-width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.testimonial-text {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #333333;
}

.testimonial-author {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
    color: var(--secondary-color);
}

.arrow {
    margin: 40px;
    background: none;
    border: none;
    font-size: 42px;
    font-weight: 600;
    color: var(--secondary-color);
    cursor: pointer;
}

/* dots */
.testimonial-dots {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 8px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #d9d9d9;
    cursor: pointer;
}
.dot:not(.active):hover {
    background: #b8a693; 
    transform: scale(1.2); 
}
.dot.active {
    background: #9b7d5c;
}
