* {
  font-family: 'Montserrat';
}

html {
  scroll-behavior: smooth;
}


.white-canvas-living-app {
  min-height: 200vh;
  background-color: var(--primary-color);
}

.whitecanvasliving-wrapper {
  background-color: var(--primary-color);
  position: sticky;
}

.container {
  max-width: 1350px;
  margin: auto;
  position: relative;
}

.section-title {
  font-size: 44px;
  font-weight: 800;
  font-weight: bolder;
  font-family: 'Playfair Script', serif;
  text-align: center;
  margin-bottom: 16px;
  color: var(--secondary-color);
}

.section-pre-title {
  width: fit-content;
  margin: auto;
  margin-top: 0;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: olive;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.section-pre-title::before,
.section-pre-title::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  border-radius: 2px;
  background: olive;
}
.section-subtitle {
  color: #74481f;
  font-size: 1.1rem;
  line-height: 1.7;
  margin: 0 auto;
  margin-bottom: 46px;
  text-align: center;
  max-width: 800px;
}




@media(max-width:1080px) {
  .section-title {
    font-size: 28px;
  }

  .section-subtitle {
    margin-bottom: 38px;
    font-size: 1rem;
    padding: 0 10px;
  }
}