* {
  font-family: 'Montserrat';
}

html {
  scroll-behavior: smooth;
}


.white-canvas-living-app {
  min-height: 200vh;
  background-color: var(--primary-color);
}

.whitecanvasliving-wrapper {
  background-color: var(--primary-color);
  position: sticky;
}

.container {
  max-width: 1350px;
  margin: auto;
  position: relative;
}

.section-title {
  font-size: 40px;
  font-weight: 800;
  font-weight: bolder;
  font-family: 'Playfair Script', serif;
  text-align: center;
  margin-bottom: 16px;
  color: var(--secondary-color);
}

.section-subtitle {
  color: #7b634d;
  font-size: 1.1rem;
  line-height: 1.7;
  margin: 0 auto;
  margin-bottom: 46px;
  text-align: center;
  max-width: 800px;
}




@media(max-width:1080px) {
  .section-title {
    font-size: 28px;
  }

  .section-subtitle {
    margin-bottom: 38px;
    font-size: 1rem;
    padding: 0 10px;
  }
}